<form #noteForm="ngForm" (ngSubmit)="saveNote()">
  <div class="note-container">
    <div class="form-group">
      <input
        type="text"
        [(ngModel)]="newNote.title"
        #title="ngModel"
        name="title"
        required
        minlength="5"
        placeholder="Заглавие на бележката"
        class="note-input"
        [class.input-error]="title.invalid && (title.dirty || title.touched)"
      />
      <div
        *ngIf="title.invalid && (title.dirty || title.touched)"
        class="error-message"
      >
        <span>Заглавието трябва да съдържа минимум 5 символа</span>
      </div>
    </div>
    <div class="form-group">
      <textarea
        [(ngModel)]="newNote.content"
        #content="ngModel"
        name="content"
        required
        minlength="7"
        placeholder="Бележка..........."
        class="note-input"
        [class.input-error]="
          content.invalid && (content.dirty || content.touched)
        "
      ></textarea>
      <div
        *ngIf="content.invalid && (content.dirty || content.touched)"
        class="error-message"
      >
      <span>Описанието трябва да съдържа минимум 7 символа</span>
      </div>
    </div>
    <button type="submit" [disabled]="noteForm.invalid" class="note-button">
      Запази
    </button>
  </div>
</form>
